*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/*/build/

bin/
gen/
out/
gen-external-apklibs/

.gradle/
build/

.signing/

/.idea/
*.iml
*.ipr
*.iws
classes/
target/**
